@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body{
  background: #F4EFEB;
  color: rgb(100,100,100);
  font-size: 16px;
  font-family: Helvetica;
  margin: 0;
}

h1{
  font-family: 'Fredericka the Great';
  color: green;
  font-weight: black;
  font-size: 50px;
  }

h2 {
  font-family: 'Fredericka the Great';
  color: rgb(82,25,69);
  font-weight: black;
  font-size: 21px;
}

h3{
  font-family: 'Playfair Display', serif;
  color: white;
  font-weight: black;
  font-size: 30px;
 }SHADOW

a {
  color: purple;
  font-weight: italic;
  font-size: 20px;
}
a:hover {
  text-decoration: none;
  color: white;
}

#banner{
  text-align: center;
  background-image: url(https://images.pexels.com/photos/315737/pexels-photo-315737.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 170px
}

#banner h1 {
  color: white;
  font-size: 120px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 1px 1px 2px black;
}

#banner h3 {
  text-shadow: 1px 1px 1px black;
}

#banner a {
  color: white;
  font-weight: italic;
  font-size: 20px;
}
#banner a:hover {
  text-decoration: none;
  color: rgb(82,25,69);
}

#footer{
  padding: 5px;
  background: rgb(80, 80, 80);
  color: lightgrey;
  font-size: 12px
}
.card{
  padding: 45px;
  font-weight: lighter;
}

.btn{
  background: #749569;
  box-shadow: 1px 1px 1px white
}

#map{
    height: 400px;
    width: 100%;
 }

#titremap{
	margin : 35px;
}

#titremap h2{
	text-align: center;
	font-size: 40
}